* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/ColoredShapes1.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Header */
h1 {
  font-family: "Satoshi";
  color: #03e8d8;
  margin-left: 9.3rem;
}

.h_name {
  font-family: "Roboto Mono";
  color: #03e8d8;
}

.headshot {
  background: linear-gradient(to bottom, #8b4dae, #2dcad1);
  box-shadow: 1.2rem 1.2rem 0 #070707;
  border: solid 0.2rem #070707;
  padding-top: 2%;
  height: 20%;
  width: 50%;
}

.hero_top {
  background-color: rgba(0, 0, 0, 0.8);
}

.hero_p {
  font-family: "Satoshi";
  width: 80%;
  margin-left: 9.3rem;
}

.socials {
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.3s;
}

.socials:hover {
  text-shadow: 0px 0px 5px;
}

/* Navbar */
.navi_links {
  font-family: "Satoshi";
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.87);
  transition: all 0.3s;
  align-items: center;
}

.navi_links:hover {
  transform: scale(1.5);
  color: #fff;
  text-shadow: 0px 0px 5px;
}

/* Projects Section */
h2 {
  color: #784e8e;
}

.projects {
  background-image: url(images/Colored\ ShapesProjects.svg);
  font-family: "Satoshi";
}

.card-cover {
  background-position: center;
  background-size: cover;
}
